/* BOTON DARK MODE*/
.dark-theme-btn {
    background-color: burlywood;
    color: rgb(255, 255, 0);
    border: none;
    font-size: 1.7em;
    cursor: pointer;
}

/* DARK MODE */
.dark-mode {
    background-color: #2f2c2c;
    color: #DDDDDD;
}

.dark-mode .contenedor__navegacion.activo {
    background-color: #2f2c2c;
}
.dark-mode .contenedor__navegacion {
    background-color: #2f2c2c;
}
.dark-mode .hamburger-inner {
    background-color: #DDDDDD !important;
}

.dark-mode .hamburger-inner:after {
    background-color: #DDDDDD !important;
}

.dark-mode .hamburger-inner:before {
    background-color: #DDDDDD !important;
}

.dark-mode .dark-theme-btn {
    background-color: #2f2c2c;
}

.dark-mode .contenedor__fondo--presentacion {
    background: radial-gradient(#2f2c2c, #01a4ff00);
}

.dark-mode a {
    color: #DDDDDD;
}
.dark-mode .texto__presentacion--pdf {
    color: #2f2c2c;
}
.dark-mode .texto__presentacion {
    color: rgb(255 153 0);
}

.dark-mode .texto__presentacion--pdf:hover {
    color: rgb(255 153 0);
}
.dark-mode .contenedor__header {
    background-color: #2f2c2c;
    
}

.dark-mode .contenedor__skills-h1 {
    color: #DDDDDD;
    background-color: #2f2c2c;
}

.dark-mode .contenedor__proyecto--div {
    background-color: #2f2c2c;
}

.dark-mode .contenedor__form--h2 {
    background-color: #2f2c2c;
    color: #DDDDDD;
}

.dark-mode .contenedor__proyectos--h2 {
    color: #DDDDDD;
    background-color: #2f2c2c;

}
.dark-mode p {
    color: #DDDDDD;
}
.dark-mode .footer__ul {
    background-color: #2f2c2c;
}

.dark-mode .iconosfooter {
    color: #DDDDDD;

}