* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Background-color: GRIS PARA VER SI USAR background-color: rgb(60, 60, 60); */
body {
    background-color: rgb(5 4 4 / 89%);
    font-family: serif;
}

textarea {
    resize: none;
}

/* sacar decoracion li y a */
ul {
    list-style: none;
}
small {
    font-size: .9em;
}
a {
    text-decoration: none;
    font-size: .8em;
    color: #2f2c2c;
}

.panel-btn {
    position: fixed;
    z-index: 25;
    right: 1vh;
    top: 0vh;
    width: 4em;
    height: 4em;
    visibility: hidden;
}

/* imagen en el header a la izquierda*/
.imagen__logo {
    position: absolute;
    top: 8px;
    left: 30px;
    height: 60px;

}

/* Imagen de fondo  */
.contenedor__fondo {
    background-image: url("./img/programador.webp");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
}

.contenedor__fondo--presentacion {
    padding-top: 8em;
    color: #dddddd;
    position: absolute;
    z-index: 2;
    background: radial-gradient(#2f2c2c, #01a4ff00);
}

/* Contenedor del Header Principal */
.contenedor__header {
    background-color: #dddddd;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.iconos__presentacion {
    display: flex;
    font-size: 1.7em;
    justify-content: flex-start;
    margin: 0;
    position: absolute;
    left: 0vh;
}

/* PRESENTACION DEL TEXTO MARTIN MESSNER */
.texto__presentacion {
    font-size: 2em;
    letter-spacing: 1px;
    color: rgb(255 153 0);
}
.texto__presentacion--pdf {
    background-color: rgb(255 153 0);
    font-size: 1.5em;
    border-radius: 35px;
    letter-spacing: 4px;
    padding: 15px;
}
.texto__presentacion--pdf:hover {
    background-color: #2f2c2c;
    color: rgb(255 153 0);
}
.texto__presentacion--div {
    padding-top: 2em;
}
/* Contenedor de la barra de navegacion /home /proyects /contacto  */
.contenedor__navegacion {
    display: flex;
    justify-content: flex-end;
    background-color: burlywood;
}

/* fuente y padding de home, proyects, contacto de la barra de navegacion */
.contenedor__navegacion--nav {
    padding: 10px;
    font-size: 2em;
}

#skills,
#proyectos,
#contacto,
#inicio {
    scroll-margin-top: 2ex;

}


/* Zona de : Skills y Contacto h1 y h2 */
.contenedor__skills-h1,
.contenedor__form--h2,
.contenedor__proyectos--h2 {
    padding: 1.2em;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2.3em;
    color: #000000;
    background-color: burlywood;
}

/* Contenedor Skills  */
.contenedor__skills {
    background-color: burlywood;

}

/* Contenedor logo lenguajes / Html, Css, Javascript, etc */
.contenedor__lenguajes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5em;
    justify-content: center;
}

/* Imagenes de los lenguajes / Html, Css, Javascript, etc */
.logo-lenguajes--img {
    display: flex;
    height: 88px;
    padding: 10px;
    margin: 13px;

}

.logo-lenguajes--img:hover {
    transition: .7s ease-in;
    transform: rotate(360deg);
}

/* Fondo del contenedor del formulario */
.contenedor__form {
    background-color: burlywood;
}

.boton__div {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color:  rgb(255 153 0);
    cursor: pointer;
    width: 49%;
    border: 1px rgb(255 153 0) solid;
    border-radius: 7px;
}

.boton__div:hover {
    font-weight: 700;
}

/* Estilos del Form propiamente dicho */
form {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;

}

/* Estilos de cada input del form  */
.form__input {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
}

.boton__enviar {
    border: 2px solid #2f2c2c;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255 153 0);
}

.contenedor__input--div {
    width: 80%;
    margin: auto;
    border-radius: 5%;
}

.h2__input {
    text-align: center;
}

.boton__enviar:hover {
    font-weight: 700;
}

/*  PARRAFO LOREM DESPUES SACAR ///asdasd///asd */
p {
    /*color:rgb(255 153 0); */
    color: #2f2c2c;
    font-weight: 800;
    font-size: 1.2em;
}

/* Footer */
.footer__ul {
    display: flex;
    font-size: 3em;
    justify-content: center;
    background-color: burlywood;
}

/* IConos FOOTER */
.iconosfooter {
    color: #2f2c2c;
    margin: 1em;
}
/* IConos FOOTER:hover  */
.iconosfooter:hover {
    transition: .7s ease-in;
    transform: rotate(360deg)scale(1.8);
}


                    /* MEDIA QUERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
                    /* MEDIA QUERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media only screen and (max-width: 740px) {

    .contenedor__navegacion--nav,
    .dark-theme-btn {
        visibility: hidden;
    }

    .panel-btn {
        visibility: visible;
    }

    .contenedor__navegacion.activo .contenedor__navegacion--nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        visibility: visible;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 4px;
        margin: 20px;
    }

    .contenedor__navegacion.activo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        margin: 0;
        height: 101vh;
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #202124;
        scroll-behavior: smooth;
        background-color: burlywood;

    }

    .contenedor__navegacion.activo .dark-theme-btn {
        visibility: visible;
    }

    .contenedor__navegacion.activo .iconos__presentacion {
        visibility: hidden;
    }
}

@media only screen and (max-width: 429px) { 
    .cardmodal, .cardmodal2 {
        display: none;
    }

}

@media only screen and (max-width: 768px) { 
        .logo-lenguajes--img {
            height: 80px;
         } 
         .contenedor__fondo {
            background-position: center;
         }
}

@media only screen and (max-width: 350px) { 
    .footer__ul {
        font-size: 2em;
    }
}
@media screen and (min-width: 300px) and (max-width: 840px) { 
    form {
        width: 80%;
        padding: 10px 0px;
    }

 }